.
Pygments==1.6
Twisted==13.1.0
arrow==0.3.5
cov-core==1.7
coverage==3.6
fancycompleter==0.4
freezegun==0.1.8
pdbpp==0.7.2
pretend==1.0.5
py==1.4.15
pyrepl==0.8.4
pytest==2.3.5
pytest-cov==1.6
python-dateutil==2.1
six==1.4.1
wmctrl==0.1
wsgiref==0.1.2
zope.interface==4.0.5
