include LICENSE LICENSE.apache2 LICENSE.mit .coveragerc conftest.py .readthedocs.yml pyproject.toml
include *.rst
recursive-include .github *.rst

include tox.ini
graft tests
recursive-exclude tests *.pyc

graft docs
prune docs/_build

# Don't package GitHub-specific files.
exclude .github/*.md .travis.yml .pre-commit-config.yaml codecov.yml
