[build-system]
requires = ["setuptools>=40.6.0"]
build-backend = "setuptools.build_meta"


[tool.pytest.ini_options]
addopts = "-ra --strict-markers "
xfail_strict = true
testpaths = "tests"
filterwarnings = [
    "once::Warning",
]


[tool.coverage.run]
parallel = true
branch = true
source = ["structlog"]

[tool.coverage.paths]
source = ["src", ".tox/*/site-packages"]

[tool.coverage.report]
show_missing = true
skip_covered = true


[tool.black]
line-length = 79


[tool.isort]
profile = "attrs"
