[build-system]
requires = ["setuptools>=40.6.0", "wheel"]
build-backend = "setuptools.build_meta"


[tool.pytest.ini_options]
addopts = "-ra"
testpaths = "tests"
filterwarnings = [
    "once::Warning",
]


[tool.coverage.run]
parallel = true
branch = true
source = ["structlog"]

[tool.coverage.paths]
source = ["src", ".tox/*/site-packages"]

[tool.coverage.report]
show_missing = true


[tool.black]
line-length = 79


[tool.isort]
atomic=true
include_trailing_comma=true
lines_after_imports=2
lines_between_types=1
multi_line_output=3

known_first_party="structlog"
known_third_party=["flask", "freezegun", "pretend", "pytest", "setuptools", "some_module", "structlog", "twisted", "zope"]
