# SPDX-License-Identifier: MIT OR Apache-2.0

[build-system]
requires = ["flit_core >=3.4,<4"]
build-backend = "flit_core.buildapi"


[project]
name = "structlog"
authors = [{name = "Hynek Schlawack", email = "hs@ox.cx"}]
dynamic = ["version", "description"]
requires-python = ">=3.7"
dependencies = ["typing-extensions; python_version<'3.8'"]
license = { file = "LICENSE" }
keywords = ["logging", "structured", "structure", "log"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: System :: Logging",
]

[project.urls]
Changelog = "https://www.structlog.org/en/stable/changelog.html"
Documentation = "https://www.structlog.org/"
"Bug Tracker" = "https://github.com/hynek/structlog/issues"
"Source Code" = "https://github.com/hynek/structlog"
Funding = "https://github.com/sponsors/hynek"
Tidelift = "https://tidelift.com/subscription/pkg/pypi-structlog?utm_source=pypi-structlog&utm_medium=pypi"
Ko-fi = "https://ko-fi.com/the_hynek"

[tool.flit.sdist]
include = [
    ".pre-commit-config.yaml",
    ".readthedocs.yml",
    "*.ini",
    "*.rst",
    "LICENSE.*",
    "docs",
    "tests",
    ".github",
    "show_off.py",
]
exclude = [
    "docs/_build",
    "tests/__pycache__",
    "tests/.mypy_cache",
]

[project.optional-dependencies]
tests = [
    "coverage[toml]",
    "freezegun>=0.2.8",
    "pretend",
    "pytest-asyncio>=0.17",
    "pytest>=6.0",
    "simplejson",
]
docs = [
    "furo",
    "myst-parser",
    "sphinx",
    "sphinx-notfound-page",
    "sphinxcontrib-mermaid",
    "twisted",
]

# Combine tests and docs and a few more dev tools to a dev environment.
# Refresh using `tox -e cog`

dev = [
    "pre-commit",
    "rich",
    "cogapp",
    "tomli",
    # [[[cog
    # import pathlib, tomli
    # cfg = tomli.loads(pathlib.Path("pyproject.toml").read_text())
    # opt = cfg["project"]["optional-dependencies"]
    # for dep in opt["tests"] + opt["docs"]:
    #     print(f'"{dep}",')
    # ]]]
    "coverage[toml]",
    "freezegun>=0.2.8",
    "pretend",
    "pytest-asyncio>=0.17",
    "pytest>=6.0",
    "simplejson",
    "furo",
    "myst-parser",
    "sphinx",
    "sphinx-notfound-page",
    "sphinxcontrib-mermaid",
    "twisted",
    # [[[end]]]
]


[tool.pytest.ini_options]
addopts = "-ra --strict-markers"
xfail_strict = true
testpaths = "tests"
filterwarnings = [
    "once::Warning",
]
asyncio_mode = "auto"


[tool.coverage.run]
parallel = true
branch = true
source = ["structlog"]

[tool.coverage.paths]
source = ["src", ".tox/*/site-packages"]

[tool.coverage.report]
show_missing = true
skip_covered = true
omit = [
    "src/structlog/_greenlets.py",
]
exclude_lines = [
    # a more strict default pragma
    "\\# pragma: no cover\\b",

    # allow defensive code
    "^\\s*raise AssertionError\\b",
    "^\\s*raise NotImplementedError\\b",
    "^\\s*return NotImplemented\\b",
    "^\\s*raise$",

    # typing-related code
    "^if (False|TYPE_CHECKING):",
    ": \\.\\.\\.(\\s*#.*)?$",
    "^ +\\.\\.\\.$",
    "-> ['\"]?NoReturn['\"]?:",
]


[tool.black]
line-length = 79


[tool.isort]
profile = "attrs"


[tool.mypy]
warn_unused_ignores = true
follow_imports = "normal"
ignore_missing_imports = true
disallow_untyped_calls = true
warn_no_return = true
warn_redundant_casts = true
disallow_untyped_defs = true
check_untyped_defs = true

[[tool.mypy.overrides]]
module = "tests.*"
ignore_errors = true

[[tool.mypy.overrides]]
module = "conftest.*"
ignore_errors = true


[project.readme]
content-type = "text/x-rst"

# Load README.rst, but remove header and badges.
# Refresh using `tox -e cog`
# Nothing except for the adapted README follows after this point.

# [[[cog
# import pathlib
# print(
#     'text = """'
#     ".. image:: https://www.structlog.org/en/stable/_static/structlog_logo_small_transparent.png\n"
#     "   :alt: structlog mascot\n"
#     "   :align: center\n\n"
#     + pathlib.Path("README.rst")
#       .read_text()
#       .split(".. -begin-short-")[1]
#       .lstrip()
#       .replace('"""', r'\"\"\"')
#     + '"""',
#     end=""
# )
# ]]]
text = """.. image:: https://www.structlog.org/en/stable/_static/structlog_logo_small_transparent.png
   :alt: structlog mascot
   :align: center

``structlog`` makes logging in Python **faster**, **less painful**, and **more powerful** by adding **structure** to your log entries.
It has been successfully used in production at every scale since **2013**, while embracing cutting-edge technologies like *asyncio* or type hints along the way, and `influenced the design <https://twitter.com/sirupsen/status/638330548361019392>`_ of `structured logging packages in other ecosystems <https://github.com/sirupsen/logrus>`_.

Thanks to its highly flexible design, it's up to you whether you want ``structlog`` to take care about the **output** of your log entries or whether you prefer to **forward** them to an existing logging system like the standard library's ``logging`` module.

``structlog`` comes with support for JSON, `logfmt <https://brandur.org/logfmt>`_, as well as pretty console output out-of-the-box:

.. image:: https://github.com/hynek/structlog/blob/main/docs/_static/console_renderer.png?raw=true

.. -end-short-

A short explanation on *why* structured logging is good for you, and why ``structlog`` is the right tool for the job can be found in the `Why chapter <https://www.structlog.org/en/stable/why.html>`_ of our documentation.

Once you feel inspired to try it out, check out our friendly `Getting Started tutorial <https://www.structlog.org/en/stable/getting-started.html>`_ that also contains detailed installation instructions!

If you prefer videos over reading, check out `Markus Holtermann <https://twitter.com/m_holtermann>`_'s DjangoCon Europe 2019 talk: `Logging Rethought 2: The Actions of Frank Taylor Jr. <https://www.youtube.com/watch?v=Y5eyEgyHLLo>`_

.. -begin-meta-

Project Information
===================

- **License**:  *dual* `Apache License, version 2 and MIT <https://www.structlog.org/en/stable/license.html>`_
- **PyPI**: https://pypi.org/project/structlog/
- **Source Code**: https://github.com/hynek/structlog
- **Documentation**:  https://www.structlog.org/
- **Changelog**: https://www.structlog.org/en/stable/changelog.html
- **Get Help**: please use the ``structlog`` tag on `StackOverflow <https://stackoverflow.com/questions/tagged/structlog>`_
- **Third-party Extensions**: https://github.com/hynek/structlog/wiki/Third-party-Extensions
- **Supported Python Versions**: 3.7 and later


``structlog`` for Enterprise
----------------------------

Available as part of the Tidelift Subscription.

The maintainers of structlog and thousands of other packages are working with Tidelift to deliver commercial support and maintenance for the open source packages you use to build your applications.
Save time, reduce risk, and improve code health, while paying the maintainers of the exact packages you use.
`Learn more. <https://tidelift.com/subscription/pkg/pypi-structlog?utm_source=pypi-structlog&utm_medium=referral&utm_campaign=readme>`_
"""
# [[[end]]]
