div.article-container>article {
    font-size: 19px;
    line-height: 31px;
}

div.admonition {
    font-size: 19px;
    line-height: 31px;
}

p.admonition-title {
    font-size: 15px !important;
    line-height: 20px !important;
}

article>li>a {
    font-size: 19px;
    line-height: 31px;
}
