---
name: Build docset

on:
  push:
    tags: ["*"]
  workflow_dispatch:

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  PIP_NO_PYTHON_VERSION_WARNING: 1

permissions: {}

jobs:
  docset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # get correct version
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - run: pip install tox

      - run: tox run -e docset
      - run: tar --exclude='.DS_Store' -cvzf structlog.tgz structlog.docset

      - uses: actions/upload-artifact@v4
        with:
          name: docset
          path: structlog.tgz
